body{
    background-image: url(https://images.alphacoders.com/113/113251.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.container{
    width: 100%;
    height: 100%;
}
 
img{
    margin-left: 30%;
    margin-top: 10%;
}